* {
	padding: 0;
	margin: 0;
	list-style: none;
}
html {
	font-family: 'Noto Sans TC', sans-serif;
	-webkit-font-smoothing: antialiased;
 	-moz-osx-font-smoothing: grayscale;
 	font-smooth: always;
	font-style: normal
}
body{
	font-size: 16px;
	overflow-x: hidden;
	background-color: #fffad9;
}
main {
	background-image: url(../img/20.png);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}
#about{
	width: 100%;
	position: relative;
}
.img_design{
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
}
.banner{
	width: 100%;
	padding-bottom: 56.25%;
	background-image: url("../img/01.jpg");
	-moz-background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
	position: relative;
	z-index: 0;
}
.top{
	font-family: 'Noto Sans TC', serif;
	font-size: 1rem;
	width: 100%;
	top:0;
	left: 0;
	position: fixed !important;
	z-index: 99 !important;
}
.L_text{
	width: 50%;
	position: absolute;
	top:-30%;
	left: 0;
	z-index: 2;
}
.start {
  animation: appear 6s linear alternate 1;
  fill:none;
  animation-fill-mode: forwards;
}

/* .bg_look{
	background-image: url("../img/03.png");
	-moz-background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
} */

#about h4{
	border-bottom:1.5px solid #d3c6ad;
	color: #604c3f;
	font-weight: bold;
}

.img_04{
	width: 80%;
}
.nav-link {
	position: relative;
	z-index: 999;
}
.nav-link::before {
	position: absolute;
	content: '';
	width: 40px;
	height: 30px;
	background-color: #fee97d;
	border-radius: 50%;
	opacity: 0.5;
	top: 50%;
	right: -20%;
	transform: translateY(-50%);
	z-index: -1;
	transition: 0.5s;
}
.nav-link:hover::before {
	background-color: #ffe359;
	width: 100%;
	right: 0;
}
.content{
	color: #FFFFFF;
	font-size: 1rem;
	background-color: #a18878;
	margin-left: -15%;
	margin-bottom: -15%;
}
.subtitle{
	padding:0 25% 0 25%;
}

#work h4{
	border-bottom:1.5px solid #d3c6ad;
	color: #604c3f;
	font-weight: bold;
}

.workcontent{
	color: #FFFFFF;
	font-size: 1rem;
}
.content_1{
	font-weight: bold;
	color: #7a6a56;
	padding:10% 10% 10% 10%; 
}

.num{
	font-size: 2rem;
	color: #009644;
}
.num_2{
	font-size: 2rem;
	color: #e75514;
}
.num_3{
	font-size: 2rem;
	color: #d40051;
}
.txt{
	font-size: 1rem;
	color: #604c3f;
}
.circle{
	background-color: #a18878;
	width: 150px;
	height: 150px;
	border-radius: 99%;
	position: relative;
}
.circle p{
	position:absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%); 

}
.time{
	font-weight: bold;
	color: #7a6a56;
}
.img_05{
	width: 60%;
}
/*.btn{
	border: none;
}*/
.description{
	display: none;
	opacity: 0;
}
.des_content{
	display: none;
	background-color: #e75514;
	color: #FFFF;
	clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
}
.img_ani{
	animation: spin ease 1s  1 0s;
	animation-fill-mode:forwards;
}
.description_ani{
	padding-top: 5%;
	opacity: 0;
	animation: opac ease 2s  1 0s;
	animation-fill-mode:forwards;
}

.f_txt{
	text-align: center;
}
.title_L{
	padding:5% 10% 2% 0%;
}
.title_L img{
	width: 30%;
}
.title_R{
	padding:5% 0% 5% 5%;
}
.title_R img{
	width: 30%;
}
.mask_txt{
	color: #c6c7c7;
	font-size:2rem;
	font-weight: 700;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%); 
}
.mask{
	position: relative;
}
.mask::before{
	content: " ";
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	padding-bottom: 56.33%;
	background-color: rgba(255, 255, 255, 0.5);
}
.mask_btn{
	background-image:url('../img/05-1.png');
	width: 10%;
	padding-bottom: 5.8%;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
	border: none;
	background-color: transparent;
	position: absolute;
	top:70%;
	left: 50%;
	transform: translate(-50%,0%); 
}
.modal_img{
	padding: 0 10% 10% 10%;
}
.modal_img h4{
	color: #a18878;
	font-weight: 700;
}
footer{
	color: #ffffff;
	background-color: #a18878;
}
footer p {
	margin: 0;
}
#svg_ani{
	position: absolute;
	margin-top: -20%;
	margin-left: 5%;
	z-index: -1;
}
#svg_ani2{
	position: absolute;
	margin-top: -5%;
	right: 0;
	transform:translate(0,-20%); 
	z-index: 6;
}
.s_ani{
	opacity: 0;
}
.s_ani2{
	opacity: 0;
}
.ani {
 opacity: 1;
  stroke-dasharray: 1300;
  stroke-dashoffset: 1300;
  animation: dash 2s linear 1;
  /*動畫保持在最後的樣子*/
  animation-fill-mode: forwards;
}
/*.row{
	margin-right: 0!important;
}*/
.btn_ani{
	animation: ani 0.5s linear infinite;
}
.demo_btn{
	color: gray !important;
	border:1.5px solid gray !important;
	text-align: center;
}
/*lazyloading*/
#load{
	width: 100vw;
	height: 100vh;
	z-index: 100;
	top:0;
	left: 0;
	position: fixed;
	background-color: rgba(0,0,0,1);
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  top:50%;
  left: 50%;
  transform:translate(-50%,-50%);
}
.lds-ripple div {
  position: absolute;
  border: 4px solid currentColor;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}




@media only screen and (min-width: 720px) and (max-width: 1024px) {
	 	html,body{
			overflow-x: hidden;

		}
		.nav-link {
			text-align: center;
		}
		.nav-link::before {
			position: absolute;
			content: '';
			width: 40px;
			height: 30px;
			background-color: #fee97d;
			border-radius: 50%;
			opacity: 0.5;
			top: 50%;
			left: 52%;
			transform: translate(-50%, -50%);
			z-index: -1;
			transition: 0.5s;
		}
		.nav-link:hover::before {
			background-color: #ffe359;
			width: 50px;
			left: 50%;
		}
		#about h4{
			border-bottom:1px solid #d3c6ad;
		}
		#about .container{
			padding:0;
		}
		.top{
			width: 100%;
		}
		.L_text{
			width: 37vw;
			top: -29vw;
		}
		.img_04{
			width: 100%;
		}
		.img_05{
			width: 100%;
		}
		.content{
			margin:0;
		}
		#work h4{
			border-bottom:1px solid #d3c6ad;
		}
		#work .container{
			padding:0 ;
		}
		.workcontent img{
			margin:0;
		}
		.content_1{
			padding:10% 10% 10% 10%; 
		}
		.s_ani{
			display: none;
		}
		.s_ani2{
			display: none;
		}
		.f_txt{
			text-align: left;
		}
		.mask_btn{
			padding-bottom: 3.5%;
		}
}
@media only screen and (max-width:720px){
	 	html,body{
			overflow-x: hidden;

		}
		.nav-link::before {
			position: absolute;
			content: '';
			width: 40px;
			height: 30px;
			background-color: #fee97d;
			border-radius: 50%;
			opacity: 0.5;
			top: 50%;
			right: 0;
			left: 3%;
			transform: translateY(-50%);
			z-index: -1;
			transition: 0.5s;
		}
		.nav-link:hover::before {
			background-color: #ffe359;
			width: 50px;
			left: 0;
		}
		#load{
			width: 100%;
		}
		.banner{
			height: 100vh;
		}
		.L_text{
			width: 60vw;
			top: -15vw; 
		}
		.top{
			width: 100vw;
		}
		#about h4{
			border-bottom:1px solid #d3c6ad;
		}
		.img_04{
			width: 100%;
		}
		.img_05{
			width: 30%;
		}
		.time{
			text-align: center;
		}
		.content{
			padding:5%; 
			margin:0;
		}
		#work h4{
			border-bottom:1px solid #d3c6ad;
		}
		.workcontent{
			background-color: transparent;
		}
		.workcontent img{
			margin:0;
		}
		.content_1{
			padding:10% 10% 10% 10%; 
		}
		.circle{
			margin: auto;
		}
		.des_content{
			clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0% 100%);
		}
/*		.btn{
			padding-left: 35% !important;
		}*/
		.title_L{
			padding:5% 10% 12% 0%;
		}
		.title_L img{
			width: 70%;
		}
		.title_R{
			padding:5% 0% 15% 5%;
		}
		.title_R img{
			width: 70%;
		}
		.f_txt{
			text-align: left;
		}
		.mask_btn{
			padding-bottom: 3.5%;
		}
		.demo_btn{
			padding: 1% 5%!important;
		}


}
@keyframes appear {
  0% {
  	clip-path: polygon(0% 0%, 0 0, 0 50%, 0 100%, 0% 100%);
  }
  25% {
    clip-path: polygon(0% 0%, 40% 0, 54% 50%, 40% 100%, 0 100%);
  }
  50%{ 
    clip-path: polygon(0% 0%, 100% 0, 100% 49%, 100% 100%, 0 100%);
   fill:rgba(255,255,255,0); 
  }
  75%{
  	fill:rgba(255,255,255,0.1);
  }
  100%{
  	fill:rgba(255,255,255,1);
  }
}

@keyframes spin { 
    0%{ 
        transform: rotate(0deg); 
    } 

    100%{ 
        transform: rotate(90deg);         
    }
}
@keyframes opac {
    0%{ 
        opacity: 0;
    } 

    100%{ 
        opacity: 1;       
    }
}
@keyframes dash {
  0% {
  	stroke-dashoffset: 1300;
  }
  50% {
    stroke-dashoffset: 1;
  }
  100%{ 
    stroke-dashoffset: 1;
  }
}
@keyframes ani {
  0% {
  	transform: rotate(0deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  100%{ 
    transform: rotate(0deg);
  }
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    opacity: 0;
  }
}